# Visual Studio stuff
Win32
Debug
Release
debug32
release32
ipch
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.iobj
*.ipdb
*.exp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
